$main-background: #F8F8F8;
$background: #FFFFFF;
$border-blue: #B8FFEC;
$text-grey: #7E7E82;
$text-black: #1B1C21;
$border-grey: #EAEAEA;
$text-pink: #FF3E79;
$button-hover: #D391A5;
$link-hover: #7B515D;
$swiper-bullet: #DDDDDD;
$swiper-bullet-active: rgb(117, 112, 112);
$box-shadow-one: rgba(59, 68, 105, 0.02);
$box-shadow-two: rgba(7, 12, 40, 0.2);